[package]
name = "Lightspeed"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
gpui = "0.2.2"
gpui-component = { version = "0.3.1", features = ["tree-sitter-languages"] }
serde = "1.0.228"
serde_json = "1.0.145"
rust-embed = "8.3"