[package]
name = "Lightspeed"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
chrono = { version = "0.4", features = ["serde"] }
gpui = "0.2.2"
gpui-component = { version = "0.3.1", features = ["tree-sitter-languages"] }
lsp-types = "0.97"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
rust-embed = "8.9.0"