[package]
name = "Fulgur"
version = "0.0.1"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
chardetng = "0.1.17"
chrono = { version = "0.4", features = ["serde"] }
encoding_rs = "0.8.35"
gpui = "0.2.2"
gpui-component = { version = "0.4.2", features = ["tree-sitter-languages"] }
log = "0.4"
lsp-types = "0.97"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
rust-embed = "8.9.0"
regex = "1.12.2"
simplelog = "0.12"
urlencoding = "2.1"
open = "5.3.3"

[package.metadata.packager]
before-packaging-command = "cargo build --release"
product_name = "Fulgur"
identifier = "app.fulgur.fulgur"
publisher = "PRRPCHT"
icons = ["assets/icon.icns", "assets/icon.ico", "assets/icon.png"]
category = "DeveloperTool"
description = "Your lightning fast, multiplatform, themable text editor."
copyright = "Copyright (c) 2025 PRRPCHT"

[package.metadata.packager.macos]
minimum_system_version = "10.15"
info_plist_path = "resources/Info.plist"